{% extends "base.html" %}

{% block content %}
      <div class="container">
        <div class="row justify-content-center mb-3">
          <h1>Add contact</h1>
        </div>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-warning">{{message}}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <div class="row justify-content-center">
          <form
            class="col-sm-6"
            action="/contacts/add"
            method="post"
            enctype="multipart/form-data"
          >
            <div class="form-group">
              <input
                class="form-control"
                type="text"
                placeholder="First name"
                name="first_name"
              />
            </div>
            <div class="form-group">
              <input
                class="form-control"
                type="text"
                placeholder="Last name"
                name="last_name"
              />
            </div>
            <div class="form-group">
              <input
                class="form-control"
                type="text"
                placeholder="Phone number"
                name="phone_number"
              />
            </div>
            <div class="form-group">
              <input
                class="form-control"
                type="text"
                placeholder="Email"
                name="email"
              />
            </div>

            <div class="form-group">
              <button class="btn btn-primary col-sm-12" type="submit">
                Add
              </button>
            </div>
          </form>
        </div>
      </div>
{% endblock %}